body {
    min-height: 100vh;
  }
  
  th,
  td {
    text-align: center;
    text-justify: center;
  }
  
  svg {
    margin: 0.3rem;
  }
  
  .heart {
    color: #e53935;
  }
  
  .graphs-flexbox-grid {
    --min: 10ch;
    --gap: 1rem;
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--gap);
  }
  
  .smol-flexbox-grid>* {
    flex: 1 1 var(--min);
  }