{% extends "layout.html" %}
{% block title %}Accueil - Weather IoT{% endblock %}
{% block content %}

<div class="graphs-flexbox-grid">
  <div>
    <canvas id="temperatureChart"></canvas>
  </div>
  <div>
    <canvas id="humidityChart"></canvas>
  </div>
  <div>
    <canvas id="pressureChart"></canvas>
  </div>
</div>

<!-- <div class="grid">
  <div>
    <canvas id="temperatureChart"></canvas>
  </div>
  <div>
    <canvas id="humidityChart"></canvas>
  </div>
  <div>
    <canvas id="pressureChart"></canvas>
  </div>
</div> -->

<article>
  <figure>
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">
          <div class="icon-text-container" style="color: #f4511e;">
            <i data-feather="thermometer"></i><br>
            Temperature
          </div>
        </th>
        <th scope="col" class="text-center">
          <div class="icon-text-container" style="color: #039be5;">
            <i data-feather="droplet"></i><br>
            Humidity
          </div>
        </th>
        <th scope="col" class="text-center">
          <div class="icon-text-container" style="color: #c0ca33;">
            <i data-feather="clock"></i><br>
            Pressure
          </div>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>


    <tbody>
      <tr>
        <th scope="row"></th>
        <td>{{temperature}}</td>
        <td>{{humidite}}</td>
        <td>{{pression}}</td>
      </tr>
    </tbody>
    <tfoot>
      <!-- <tr>
                <th scope="col">#</th>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
              </tr> -->
    </tfoot>
  </table>
</figure>
</article>

<script>
  // Sample data, replace with your actual data
  var temperatureData = {{ temperature | tojson}};
  var humidityData = {{ humidite | tojson}};
  var pressureData = {{ pression | tojson}};


  // Function to create a chart
  function createChart(canvasId, label, data, color) {
    var ctx = document.getElementById(canvasId).getContext('2d');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['1', '2', '3', '4', '5'],
        datasets: [{
          label: label,
          borderColor: color,
          data: data,
        }]
      }
    });
  }

  // Create charts
  createChart('temperatureChart', 'Temperature', temperatureData, "#f4511e");
  createChart('humidityChart', 'Humidity', humidityData, " #039be5");
  createChart('pressureChart', 'Pressure', pressureData, "#c0ca33");
</script>

{% endblock %}