{% extends "layout.html" %}
{% block title %}Accueil - Weather IoT{% endblock %}
{% block content %}

<style>
  th, td {
        text-align: center;
        padding: 10px;
    }

  .last-update {
      width: 100%;
      text-align: right;
      top: 30px;
      right: 10px;
      font-size: 0.6em;
      color: #666;
  }
</style>

<div class="graphs-flexbox-grid">
  <div>
    <canvas id="temperatureChart"></canvas>
  </div>
  <div>
    <canvas id="humidityChart"></canvas>
  </div>
  <div>
    <canvas id="pressureChart"></canvas>
  </div>
</div>

<!-- <div class="grid">
  <div>
    <canvas id="temperatureChart"></canvas>
  </div>
  <div>
    <canvas id="humidityChart"></canvas>
  </div>
  <div>
    <canvas id="pressureChart"></canvas>
  </div>
</div> -->

<article>
  <figure>
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">
          <div class="icon-text-container" style="color: #f4511e;">
            <i data-feather="thermometer"></i><br>
            Temperature
          </div>
        </th>
        <th scope="col" class="text-center">
          <div class="icon-text-container" style="color: #039be5;">
            <i data-feather="droplet"></i><br>
            Humidity
          </div>
        </th>
        <th scope="col" class="text-center">
          <div class="icon-text-container" style="color: #c0ca33;">
            <i data-feather="clock"></i><br>
            Pressure
          </div>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>


    <tbody>
      <tr>
        <th scope="row"></th>
          <td class="text-center">{{temperature}} °C</td>
          <td class="text-center">{{humidite}} %</td>
          <td class="text-center">{{pression}} hpa</td>
      </tr>
    </tbody>
    <tfoot>
      <!-- <tr>
                <th scope="col">#</th>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
                <td scope="col">Total</td>
              </tr> -->
    </tfoot>
  </table>
</figure>
</article>

<div class="last-update">
  Dernière actualisation le : {{ current_time }}
</div>


<script>
  // Use Jinja templating to pass Flask variables to JavaScript
  var temperatureData = [{{ temperature|default('') }}];
  var humidityData = [{{ humidite|default('') }}];
  var pressureData = [{{ pression|default('') }}];

  // Function to create a chart
  function createChart(canvasId, label, data, color) {
      var ctx = document.getElementById(canvasId).getContext('2d');
      new Chart(ctx, {
          type: 'bar',  // Use bar chart type
          data: {
              labels: [label], // Use the label as the only x-axis point
              datasets: [{
                  label: label,
                  backgroundColor: color,  // Set bar color
                  data: data,
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true  // Start y-axis at zero
                  }
              }
          }
      });
  }

  // Create charts
  createChart('temperatureChart', 'Temperature', temperatureData, "#f4511e");
  createChart('humidityChart', 'Humidity', humidityData, " #039be5");
  createChart('pressureChart', 'Pressure', pressureData, "#c0ca33");
</script>

{% endblock %}