{% extends 'authLayout.html' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}

<article>
    <form class="container" method="post" action="{{ url_for('register') }}">

        <h1>S'enregistrer</h1>
        <div class="grid">

            <label for="nom_utilisateur">
                Nom d'utilisateur
                <input type="text" id="nom_utilisateur" name="nom_utilisateur" placeholder="Nom d'utilisateur" required>
            </label>

            <label for="mot_de_passe">
                Mot de passe
                <input type="password" id="mot_de_passe" name="mot_de_passe" placeholder="Mot de passe" required>
            </label>

        </div>

        <label for="email">Adresse e-mail</label>
        <input type="email" id="email" name="email" placeholder="Adresse e-mail" required>
        <small>Nous ne partagerons jamais votre adresse e-mail avec personne.</small>

        <button type="submit">Soumettre</button>

    </form>
</article>

{% endblock %}
