{% extends 'layout.html' %}
{% block title %}Sondes{% endblock %}

{% block content %}

<style>
    .active-oui {
        color: green;
    }

    .active-non {
        color: red;
    }
</style>

<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sondes</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        {% for row in sonde_data %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ row[0] }}</td>
            <td>
                {% if row[1] == 1 %}
                    <span class="active-oui">Oui</span>
                {% else %}
                    <span class="active-non">Non</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}